{% extends "polls/base.html" %}

{% block title %}Novo Produto{% endblock %}

{% block content %}
<h2>Cadastrar Produto</h2>
<form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <p>
        {{ form.nome.label_tag }} {{ form.nome }}
        {{ form.nome.errors }}
    </p>
    <p>
        {{ form.preco.label_tag }} {{ form.preco }}
        {{ form.preco.errors }}
    </p>
    <button type="submit">Salvar</button>
</form>
<p><a href="{% url 'polls:index' %}">Voltar</a></p>
{% endblock %}