<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="utf-8">
        <title>Cadastro de usuário</title>
    </head>
    <body>
        <h2 style="color: darkgreen;">Formulário de Cadastro</h2>
        <form method="POST">
            <label>Nome:</label>
            <input type="text" placeholder="Digite o nome" name="nome" autofocus>
            <label>Email:</label>
            <input type="email" name="email" placeholder="Email" >
            <label>Idade</label>
            <input type="number" name="idade" placeholder="Idade">
            <button type="submit">Enviar</button>
        </form>

        {%if user%}
        <h2 style="color:green;"></h2>
        <ul>
            <li><b>Nome:</b> {{user.nome}}</li><br>
            <li><b>Email:</b> {{user.email}}</li><br>
            <li><b>Idade:</b> {{user.idade}}</li>
        </ul>
        {%endif%}
    </body>
</html>