<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="utf-8">
        <title>Sistema de cadastro</title>
    </head> 
    <body>
        <h1 style="color:green;">Sistema de Cadastro</h1>
        <a href="/cadastro">
            <button type="button">Cadastrar</button>
        </a>
         <a href="/lista">
            <button type="button">Listar</button>
        </a>
        <a href="/remove">
            <button type="button">Remover</button>
        </a>
         <a href="/editar">
            <button type="button">Editar</button>
        </a>
    </body>
</html>