<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="utf-8">
        <title>Usando jinja2 com enumerate</title>
    </head>
    <body>
       <h2>Temas de estudos</h2>
        <ul>
            {%for item in lista%}
                <li>{{ loop.index }} - {{ item }}</li>
            {% endfor%}
        </ul>
        <h2>Numero s de 0 a 4</h2>
            <ul>
                {% for i in range(5)%}
                    <li>{{ i + 1 }}</li>
                {%endfor%}
            </ul>
    </body>
</html>