<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="utf-8">
        <title>list of user with jinja2</title>
    </head>
    <body>
        <h1 style="color:green">Lista de usuários</h1>
        <ul>
            {%for us in user%}
                <li>
                     <b>{{ us.nome | upper }}</b>
                     ({{ us.idade }} anos) -
                     Cidade: {{ us.cidade | default("Não informado") }}
                </li>
            {%endfor%}
        </ul>
    </body>
</html>